<%= f.label :city, class: "form-label" %>
<%= f.text_field :city, class: "form-control" %>
<% if resource.errors[:city].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:city).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>