<%= f.label :city, class: "form-label" do %>
  City
  <% if local_assigns[:required] %>
    <span class ="asterisk">*</span>
  <% end %>
<% end %>
<%= f.text_field :city, id: "user_city", class: "form-control", placeholder: "Insert city" %>
<div id="citySuggestions" class="list-group suggestions"></div>
<% if resource.errors[:city].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:city).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>