<%= f.label :country, class: "form-label" do %>
  Country
  <% if local_assigns[:required] %>
    <span class ="asterisk">*</span>
  <% end %>
<% end %>
<%= f.text_field :country, class: "form-control", id: "user_country", autocomplete: 'off', placeholder: "Insert country" %>
<div id="countrySuggestions" class="list-group  suggestions"></div>
<% if resource.errors[:country].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:country).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>