<%= f.label :current_password,  class: "form-label" do %>
  Current Password <span class ="asterisk">*</span>  <i>(we need your current password to confirm your changes)</i>
<% end %>
<div class="input-group">
  <%= f.password_field :current_password, id: "current-password", autocomplete: "current-password", class: "form-control" %>
  <span class="input-group-text toggle-password-icon" toggle="#current-password"><i class="bi bi-eye-slash-fill"></i></span>
</div>
<% if resource.errors[:current_password].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:current_password).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>