<%= f.label :max_participants, class: "form-label" do %>
  Max Partecipants
  <% if local_assigns[:required] %>
    <span class ="asterisk">*</span>
  <% end %>
<% end %>
<%= f.number_field :max_participants, class: "form-control" %>
<% if resource.errors[:max_participants].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:max_participants).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>