<%= f.label :name, class: "form-label" do %>
  <%= local_assigns[:label] || "Name" %>
  <% if local_assigns[:required] %>
    <span class ="asterisk">*</span>
  <% end %>
<% end %>
<%= f.text_field :name, autofocus: true, class: "form-control",placeholder: "Insert name" %>
<% if resource.errors[:name].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:name).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>