<%= f.label :password_confirmation, "Confirm New Password", class: "form-label" %>
<div class="input-group">
  <%= f.password_field :password_confirmation, id: "password-edit-confirmation", autocomplete: "new-password", class: "form-control" %>
  <span class="input-group-text toggle-password-icon" toggle="#password-edit-confirmation"><i class="bi bi-eye-slash-fill"></i></span>
</div>
<% if resource.errors[:password_confirmation].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>