<%= f.label :password, "Password *", class: "form-label" %>
<% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
<% end %>
<div class="input-group">
  <%= f.password_field :password, id: "password", autocomplete: "new-password", class: "form-control" %>
  <span class="input-group-text toggle-password-icon" toggle="#password"><i class="bi bi-eye-slash-fill"></i></span>
</div>
<% if resource.errors[:password].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:password).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>