<%= f.label :phone,  class: "form-label" do %>
  Phone
  <% if local_assigns[:required] %>
    <span class ="asterisk">*</span>
  <% end %>
<% end %>
<%= f.text_field :phone, class: "form-control", placeholder: "Insert phone" %>
<% if resource.errors[:phone].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:phone).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>