<%= f.label :province, class: "form-label" %>
<%= f.text_field :province, id: "user_province", class: "form-control", autocomplete: 'off' %>
<% if resource.errors[:province].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:province).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>