<%= f.label :province, class: "form-label" do %>
  Province
  <% if local_assigns[:required] %>
    <span class ="asterisk">*</span>
  <% end %>
<% end %>
<%= f.text_field :province, id: "user_province", class: "form-control", autocomplete: 'off', placeholder: "Insert province" %>
<% if resource.errors[:province].present? %>
  <div class="invalid-feedback" style="display:block;">
    <% resource.errors.full_messages_for(:province).each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>