<!-- View to display the subscriptions (of a normal user) -->
<div class="container my-2 py-2" >
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">My Subscriptions</h2>
        </div>
    </div>
    <!-- if you have no subscriptions -->
    <% if current_user.subscriptions.empty? %>
        <div class="alert alert-info text-center" role="alert">
            You have no subscriptions!
        </div>
        <% end %>

</div>