<!-- MODAL -->
<div class="modal fade" id="deleteSubscription<%= event.id %>" tabindex="-1" aria-labelledby="deleteSUbscriptionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteSUbscriptionLabel">Unsubscribe from: <%= event.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p> Are you sure you want to unsubscribe from the event? </p>
        <%= link_to "Unsubscribe", event_subscription_path(subscription.event, subscription), data: { turbo_method: :delete }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
<!--  END MODAL-->