/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "tabulator.min";
@import "soft-ui-dashboard";
@import "nucleo-icons";
@import "nucleo-svg";
@import "flipdown.min";

// h1,h2,h3 all in center
h1,
h2,
h3,
h4 {
  text-align: center;
}

// css for the alerts
.alert-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8050; /* Ensure it's above other content */
}

// css for every country selection menù
.suggestions {
  max-height: 400px; /* Adjust based on your needs */
  overflow-y: auto; /* Makes the list scrollable */
}

.list-group-item:hover {
  background-color: #007bff; /* Bootstrap's primary blue color */
  color: white; /* Change text color to white on hover for better readability */
}

.asterisk {
  color: red;
}

.input-group-photo {
  align-items: center;
}

// carousel style
/* Adjust the size of the carousel */
.carousel {
  max-width: 100%; /* Adjust based on your layout. 100% means it will take the full width of its container */
}

/* Adjust the height of images within the carousel. */
.carousel-item img {
  max-height: 400px; /* Set a max-height for the images */
  object-fit: cover; /* This makes sure the images cover the area nicely */
  width: auto; /* Adjust width automatically */
  margin: 0 auto; /* Center the images if they are smaller than the container */
}

.carousel-control-prev,
.carousel-control-next {
  width: 4%; /* Adjust control size */
}

/* Ensure images cover the area */
.carousel-item-fixed img {
  height: 200px; /* Fixed height */
  width: 100%; /* Full width */
  object-fit: cover; /* Covers the area, may crop images */
}

/* ongoing event border */
.ongoing-event {
  border: 1px solid green; /* Adjust color and thickness as desired */
}

/* Paginator prev,next, first, last */
.page-link1 {
  margin-left: 10px;
  margin-right: 10px;
}

/* flipdown rescale */
#flipdown {
  transform: scale(0.55); /* Adjust the scale value as needed */
  transform-origin: center top; /* This ensures the scaling is centered */
}

/* NOTIFICATIONS *//* Dropdown Menu */
.dropdown-menu-not {
  min-width: 300px;
  max-width: 450px; /* Adjust based on your design needs */
  box-shadow: 0 4px 6px rgba(0,0,0,.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensures the rounded corners clip the content */
}

/* Notification Item */
.dropdown-item-not {
  display: flex;
  align-items: center;
  white-space: normal; /* Allows wrapping */
  overflow: hidden; /* Prevents overflow */
  text-overflow: ellipsis; /* Adds ellipsis to overflow text */
  padding: 10px; /* Spacing */
}

/* Icons */
.dropdown-icon-not {
  margin-right: 10px; /* Space between icon and text */
  color: #007bff; /* Example color - adjust as needed */
  min-width: 24px; /* Ensures alignment */
}

/* Notification Text */
.dropdown-text-not {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit to two lines */
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-item:hover{
  background-color: #f8d3f7;
  color: black;
}


